# The bin folder is ignored to prevent issues associated with different 
# JDK verion.
bin/
bin/controller/
bin/model/
bin/test/
bin/view/
bin/view/components/
bin/view/Util/
.vscode/
assets/data/xu-ly-data.ipynb